@page "/profile/{accountId}"
@using System.Security.Claims
@attribute [Authorize]

@inject IProfileService ProfileService;
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject ILogger<Profile> Logger

<PageTitle>Perfil</PageTitle>
<AuthGuard />

@if (_isLoading)
{
    <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
    </MudOverlay>
}
else
{
    <MudText Typo="Typo.h6" Align="Align.Left" Class="mb-2">
        Perfil
    </MudText>

    <EditForm Model="AccountProfile" OnValidSubmit="Save">
        <DataAnnotationsValidator />

        <div class="col-lg-12">
            @if (Errors.Any())
            {
                @foreach (var error in Errors)
                {
                    <MudAlert Severity="Severity.Error" Dense="true" Class="my-1">@error</MudAlert>
                }
            }
            @if (!string.IsNullOrEmpty(MessageSuccess))
            {
                <MudAlert Severity="Severity.Success" Dense="true" Class="my-1">@MessageSuccess</MudAlert>
            }
        </div>

        <MudPaper Elevation="2" Class="pa-6 mx-auto">

            <MudText Typo="Typo.subtitle1"
                     Style="margin-top: -15px;">
                Dados Gerais
            </MudText>

            <MudGrid>

                <MudItem xs="12" md="3">
                    <MudTextField Label="Email"
                                  For="@(() => emailAccount)"
                                  @bind-Value="emailAccount"
                                  Variant="Variant.Text"
                                  FullWidth="true"
                                  Disabled="true" />
                </MudItem>

                <MudItem xs="12" md="3">
                    <MudTextField Label="Nome"
                                  For="@(() => AccountProfile.Name)"
                                  @bind-Value="AccountProfile.Name"
                                  Variant="Variant.Text"
                                  FullWidth="true" />
                </MudItem>

                <MudItem xs="12" md="3">
                    <MudTextField Mask="@maskCellPhone"
                                  Label="Telefone" 
                                  Placeholder="(00) 00000-0000"
                                  @bind-Value="AccountProfile.CellPhone" 
                                  Variant="@Variant.Text"
                                  FullWidth="true" />
                </MudItem>

                <MudItem xs="12" md="3">
                    <MudDatePicker Label="Dt. Nascimento"
                                   For="@(() => AccountProfile.BirthDate)"
                                   @bind-Date="AccountProfile.BirthDate"
                                   Variant="@Variant.Text" />
                </MudItem>

            </MudGrid>

            <MudText Typo="Typo.subtitle1"
                     Style="margin-top: 30px;">
                Dados de Endereço
            </MudText>

            <MudGrid>
                <MudItem xs="12" md="3">
                    <MudTextField Label="Endereço"
                                  For="@(() => AccountProfile.Address.AddressDescription)"
                                  @bind-Value="AccountProfile.Address.AddressDescription"
                                  Variant="Variant.Text"
                                  FullWidth="true" />
                </MudItem>


            </MudGrid>

            <MudItem xs="12" Class="mt-4 d-flex justify-end">
                <MudButton ButtonType="ButtonType.Submit"
                           Color="Color.Primary"
                           Style="text-transform: none; transition: 0.2s ease-in-out;">
                    Salvar
                </MudButton>
            </MudItem>

        </MudPaper>

    </EditForm>
}

@code {
    [Parameter]
    public string accountId { get; set; }

    private Project.Web.DTOs.Response.User.GetById.Profile AccountProfile { get; set; } = new();
    private readonly List<string> Errors = new List<string>();
    private bool _isLoading = true;
    private string MessageSuccess;
    private string emailAccount = string.Empty;

    private PatternMask maskCellPhone = new PatternMask("(##) #####-####")
    {
        MaskChars = new[] { new MaskChar('#', @"[0-9]") }
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var state = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = state.User;
            if (user.Identity.IsAuthenticated)
                emailAccount = user.FindFirst(ClaimTypes.Email)?.Value;

            var response = await ProfileService.GetByIdAsync(accountId);
            if (!response.IsSuccess)
            {
                Errors.AddRange(response.Errors);
                return;
            }

            AccountProfile = response.Data.Profile;
        }
        catch (UnauthorizedAccessException ex)
        {
            Logger.LogError(ex, "An error occurred in the method OnInitializedAsync.");
            NavigationManager.NavigateTo("/auth/login", true);
        }
        catch (Exception ex)
        {
            Errors.Add(ex.Message);
            Logger.LogError(ex, "An error occurred in the method OnInitializedAsync.");
            StateHasChanged();
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task Save()
    {
        var teste = AccountProfile;
        await Task.CompletedTask;
    }
}
